<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="content">
		<h1 class="header">ZERONE</h1>
		
		<h3 class="heading">Winner Announced</h3>
		
		<div class="win-wrap">
			<div class="winners">
				<div class="winner">Username1</div>
				<div class="winner">Username2</div>
				<div class="winner">Username3</div>
				<div class="winner">Username4</div>
				<div class="winner">Username5</div>
				<div class="winner">Username6</div>
				<div class="winner">Username7</div>
			</div>
			
			<div class="win-wrap">
				<button class="button button--kari">
					<span onclick=" window.location = '/'">Play Again</span>
				</button>
			</div>
		</div>
	</div>
</body>
</html>
